<h2>All Conversations</h2>
<i class="fas fa-envelope"></i> <%= link_to "Create a new Message", new_conversation_path %>
<hr>

<ul>
  <% @conversations.each do |conversation| %>
      <li>
          <%= link_to conversation.subject, conversation_path(conversation) %>
      </li>

  <% end %>
</ul>
